version: "3.9"

services:
  proxify:
    container_name: proxify
    build:
      context: .                # current dir（inclue Dockerfile）
      dockerfile: Dockerfile    # Dockerfile
    image: terobox/proxify:latest
    ports:
      - "7777:7777"             # port mapping
    environment:
      - TZ=Asia/Shanghai
      - GIN_MODE=release
    env_file:
      - .env                    # load environment variables from .env file
    volumes:
      - ./routes.json:/app/routes.json  # hot reload routes config
      - ./log:/app/log                  # output logs
    restart: unless-stopped
